/* Chat Area CSS Start */
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-area header .details span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 30px 20px 30px;
  background: #f7f7f7;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat{
  margin: 15px 0;
  display: flex;
  align-items: flex-start;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-box .outgoing{
  justify-content: flex-end;
}
.chat-box .outgoing .details{
  margin-left: 10px;
  max-width: calc(70% - 20px);
  text-align: right;
}
.outgoing .details p{
  background: #333;
  color: #fff;
}
.chat-box .incoming{
  justify-content: flex-start;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-box .incoming .details{
  margin-right: 10px;
  max-width: calc(70% - 20px);
}
.incoming .details p{
  background: #fff;
  color: #333;
}

.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid #e6e6e6;
  outline: none;
  border-radius: 5px 0 0 5px;
}
.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

/* Responive media query */
@media screen and (max-width: 450px) {
  /* Add responsive styles here if needed */
}
